<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Confirmation de commande</title>
</head>
<body>
    <h1>Merci pour votre commande !</h1>
    <p>Bonjour {{userName}},</p>
    <p>Votre commande #{{orderNumber}} a été confirmée.</p>
    <p>Date : {{formatDate orderDate}}</p>
    <p>Total : {{formatPrice orderTotal}}</p>
</body>
</html> 